<?xml version="1.0"?>
<config>
    <modules>
        <Kvh_Notification>
            <version>0.1.0</version>
        </Kvh_Notification>
    </modules>
    <frontend>
        <blocks>
            <kvh_notification>
                <class>Kvh_Notification_Block</class>
            </kvh_notification>
        </blocks>
		<routers>
            <notification>
                <use>standard</use>
                <args>
                    <module>Kvh_Notification</module>
                    <frontName>notification</frontName>
                </args>
            </notification>
        </routers>
        <layout>
            <updates>
                <notification>
                    <file>notification.xml</file>
                </notification>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<notification>
				<use>admin</use>
				<args>
					<module>Kvh_Notification</module>
					<frontName>notification</frontName>
				</args>
			</notification>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<notification module="notification">
				<title>Notification</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="notification">
						<title>Manage Notifications</title>
						<sort_order>0</sort_order>
						<action>notification/adminhtml_notification</action>
					</items>
				</children>
			</notification>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Kvh_Notification>
							<title>Notification Module</title>
							<sort_order>10</sort_order>
						</Kvh_Notification>					
					</children>
					 <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <kvh>
                                            <title>Notificaiotn Config</title>
                                        </kvh>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<notification>
					<file>notification.xml</file>
				</notification>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <notification>
                <class>Kvh_Notification_Model</class>
                <resourceModel>notification_mysql4</resourceModel>
            </notification>
            <notification_mysql4>
                <class>Kvh_Notification_Model_Mysql4</class>
                <entities>
                    <notification>
                        <table>notification</table>
                    </notification>
                </entities>
            </notification_mysql4>
        </models>
        <resources>
            <notification_setup>
                <setup>
                    <module>Kvh_Notification</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </notification_setup>
            <notification_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </notification_write>
            <notification_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </notification_read>
        </resources>
        <blocks>
            <notification>
                <class>Kvh_Notification_Block</class>
            </notification>
        </blocks>
        <helpers>
            <notification>
                <class>Kvh_Notification_Helper</class>
            </notification>
        </helpers>
		 
    </global>
	 
</config>